.header_git_icon_link {
  text-decoration: none;
  color: inherit;
}

.ExampleSpacing4 > * {
  margin: 4px;
}

.ExampleSpacing8 > * {
  margin: 8px;
}

.backgroundTest-beige {
  background-color: #f9ede2;
}

.backgroundTest-grey {
  background-color: #f4f4f4;
}

.backgroundTest-green {
  background-color: #e3f5ea;
}

.ExampleSpacing16 > * {
  margin: 16px;
}

.ExampleFlexContainer,
.ExampleFlexContainer-200,
.ExampleFlexContainer-half {
  display: flex;
  flex-wrap: nowrap;
}

.ExampleFlexContainer-half > * {
  width: 50%;
}
.ExampleFlexContainer-200 {
  width: 200px;
}

.ExampleFlexContainer > * {
  flex-grow: 1;
}

.forsideTile {
  display: grid;
}

q {
  font-style: italic;
  font-size: 36px;
}

.swatch {
  min-width: 138px;
  padding: 8px 8px 8px 8px;
  margin: 0px 8px 8px 0;
}

.swatch p {
  margin: 0;
  font-size: 14px;
}

ul.forside {
  margin: 8vw;
  width: 75vw;
  list-style: none;
}
li.forside {
  width: 20vw;
  height: 18vw;
  clip-path: polygon(75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%, 25% 0);
  float: left;
  margin-right: 10vw;
}
li.forside:nth-child(2n) {
  margin: -9vw -5vw 0 -15vw;
}
img.forside {
  width: auto;
  object-fit: cover;
  object-position: 50% 50%;
}

@keyframes pulse_animation {
  0% {
    transform: scale(1);
  }
  30% {
    transform: scale(1);
  }
  40% {
    transform: scale(1.08);
  }
  50% {
    transform: scale(1);
  }
  60% {
    transform: scale(1);
  }
  70% {
    transform: scale(1.05);
  }
  80% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}

.pulse {
  animation-name: pulse_animation;
  animation-duration: 1500ms;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}

.ms-Nav-link:hover {
  background: #cde1f9 !important;
  text-decoration: underline;
}

.ms-Nav-link:focus {
  background: #cde1f9 !important;
  border: 0;
}

.ms-Nav-link:active {
  text-decoration: none;
}

button.ms-Nav-chevronButton:not(:hover) {
  background: none !important;
}

#main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.footer {
  flex-shrink: 0;
}

.mainLayout {
  flex: 1 0 auto;
}

.mainLayout2 {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.mainContent {
  max-width: 84vw;
  margin: auto;
}

.mainContent:after {
  display: block;
  height: 0;
  visibility: hidden;
}

.searchField {
  margin: 24px 16px 20px 16px !important;
}

.slogan {
  font-weight: 400;
  font-size: 14px;
}

.content {
  max-width: 80vw;
}

.banner > div {
  margin-top: 24px;
  max-width: 80vw;
}

ul.navigation {
  list-style-type: none;
  margin-left: -40px;
}

ul.navigation li {
  list-style-type: none;
  display: inline-block;
  padding-bottom: 6px;
  margin-right: 30px;
  line-height: 30px;
  word-break: keep-all;
}

ul.navigation a {
  text-decoration: none;
  font-weight: 700;
  color: #1d1d1d;
  font-size: 21px;
}

ul.navigation li:hover {
  border-bottom: 6px solid #6f2c3f;
  transition: 0.15s;
}

ul.navigation li.underline {
  border-bottom: 6px solid #6f2c3f;
}
