.header_git_icon_link {
  text-decoration: none;
  color: inherit;
}

.comp-header {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 32px;
}

.ExampleSpacing4 > * {
  margin: 4px;
}

.ExampleSpacing8 > * {
  margin: 8px;
}

.pa8-imp {
  padding: 8px !important;
}

.ml8 {
  margin-left: 8px;
}

.mr8 {
  margin-right: 8px;
}

.mt8 {
  margin-top: 8px;
}

.mb8 {
  margin-bottom: 8px;
}

.m8 {
  margin: 8px;
}

.backgroundTest-beige {
  background-color: #f9ede2;
}

.backgroundTest-grey {
  background-color: #f4f4f4;
}

.backgroundTest-green {
  background-color: #e3f5ea;
}

.ExampleSpacing16 > * {
  margin: 16px;
}

.ExampleFlexContainer,
.ExampleFlexContainer-200,
.ExampleFlexContainer-half {
  display: flex;
  flex-wrap: nowrap;
}

.ExampleFlexContainer-half > * {
  width: 50%;
}
.ExampleFlexContainer-200 {
  width: 200px;
}

.ExampleFlexContainer > * {
  flex-grow: 1;
}

.forsideTile {
  display: grid;
}

.dodont {
  display: flex;
  flex-wrap: wrap;
}

.dodont p.title {
  font-weight: 600;
  font-size: 18px;
  margin-top: 0;
}

pre.lang-JavaScript {
  white-space: pre-wrap;
}

.pl8 {
  padding-left: 8px;
}

.pr8 {
  padding-right: 8px;
}

.pl16 {
  padding-left: 16px;
}

.pr16 {
  padding-right: 16px;
}

.mt0 {
  margin-top: 0;
}

.mt8 {
  margin-top: 8px;
}

.mt16 {
  margin-top: 16px;
}

.mb0 {
  margin-bottom: 0;
}

.mb8 {
  margin-bottom: 8px;
}

.mb16 {
  margin-bottom: 16px;
}

dt {
  font-weight: 600;
  margin-top: 8px;
}

dd {
  margin-left: 16px;
}

.do {
  display: block;
  min-width: 300px;
  border-left: 4px solid #91d6ac;
  padding: 0px 16px 24px 16px;
  margin-right: 16px;
  margin-bottom: 16px;
  flex-grow: 1;
}

.dont {
  display: block;
  min-width: 300px;
  border-left: 4px solid #f06b78;
  padding: 0px 16px 24px 16px;
  margin-right: 16px;
  margin-bottom: 16px;
  flex-grow: 1;
}

.error-border-color {
  border-color: #a82e39;
}

q {
  font-style: italic;
  font-size: 36px;
}

.swatch {
  min-width: 138px;
  padding: 8px 8px 8px 8px;
  margin: 0px 8px 8px 0;
}

.swatch p {
  margin: 0;
  font-size: 14px;
}

ul.forside {
  margin: 8vw;
  width: 75vw;
  list-style: none;
}
li.forside {
  width: 20vw;
  height: 18vw;
  clip-path: polygon(75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%, 25% 0);
  float: left;
  margin-right: 10vw;
}
li.forside:nth-child(2n) {
  margin: -9vw -5vw 0 -15vw;
}
img.forside {
  width: auto;
  object-fit: cover;
  object-position: 50% 50%;
}

@keyframes pulse_animation {
  0% {
    transform: scale(1);
  }
  30% {
    transform: scale(1);
  }
  40% {
    transform: scale(1.08);
  }
  50% {
    transform: scale(1);
  }
  60% {
    transform: scale(1);
  }
  70% {
    transform: scale(1.05);
  }
  80% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}

.pulse {
  animation-name: pulse_animation;
  animation-duration: 1500ms;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}

.ms-Nav-link:hover {
  background: #cde1f9 !important;
  text-decoration: underline;
}

.ms-Nav-link:focus {
  background: #cde1f9 !important;
  border: 0;
}

.ms-Nav-link:active {
  text-decoration: none;
}

button.ms-Nav-chevronButton:not(:hover) {
  background: none !important;
}

#main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.footer {
  flex-shrink: 0;
}

.mainLayout {
  flex: 1 0 auto;
}

.mainLayout2 {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.mainContent {
  max-width: 84vw;
  margin: auto;
}

.mainContent:after {
  display: block;
  height: 0;
  visibility: hidden;
}

.searchField {
  margin: 8px 16px 20px 16px !important;
}

.version {
  padding-left: 16px;
  vertical-align: middle;
}

.slogan {
  font-weight: 400;
  font-size: 14px;
}

.content {
  max-width: 80vw;
}

.banner > div {
  margin-top: 24px;
  max-width: 80vw;
}

ul.navigation {
  list-style-type: none;
  margin-left: -40px;
}

ul.navigation li {
  list-style-type: none;
  display: inline-block;
  padding-bottom: 6px;
  margin-right: 30px;
  line-height: 30px;
  word-break: keep-all;
}

ul.navigation a {
  text-decoration: none;
  font-weight: 700;
  color: #1d1d1d;
  font-size: 21px;
}

ul.navigation li:hover {
  border-bottom: 6px solid #6f2c3f;
  transition: 0.15s;
}

ul.navigation li.underline {
  border-bottom: 6px solid #6f2c3f;
}

@media (max-width: 1023px) {
  ul.navigation {
    list-style-type: none;
    margin-left: -40px;
  }

  ul.navigation li {
    list-style-type: none;
    display: block;
    margin-bottom: 0px;
    margin-right: 30px;
    line-height: 30px;
    word-break: keep-all;
    padding-top: 3px;
    border-bottom: 1px solid #cccccc;
  }

  ul.navigation a {
    text-decoration: none;
    font-weight: 400;
    color: #1d1d1d;
    font-size: 18px;
  }

  ul.navigation li:hover {
    transition: 0.15s;
    text-decoration: underline;
    padding-top: 3px;
    border-bottom: 1px solid #cccccc;
  }

  ul.navigation li.underline {
    border-bottom: 2px solid #6f2c3f;
    font-weight: 700;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.pathline {
  display: flex;
  align-items: center;
  font-family: Consolas, 'Liberation Mono', Menlo, monospace;
  color: rgb(118, 118, 118);
  word-break: break-all;
}

.deprecatedLabel {
  padding: 0.5rem;
  font-size: 0.9rem;
  background-color: #a82e39;
  color: white;
  border-radius: 0.25rem;
  position: absolute;
  top: 0;
  right: 0;
}

.deprecatedLabel i {
  font-family: SkeIconfont;
  font-size: 1rem;
  display: inline-block;
  vertical-align: middle;
  margin-top: -3px;
  margin-right: 0.25rem;
  font-style: normal;
  font-weight: normal;
  transform: translate(0px, 0px);
  text-rendering: auto;
}

/* TipChip */
.tipchip {
  display: inline-block;
  position: relative;
  background: #cde1f9;
  margin-left: 8px;
  vertical-align: baseline;
}

.tipchip button {
  margin-top: 4px;
}

.tipchip:after {
  content: '';
  display: block;
  position: absolute;
  right: 100%;
  top: 50%;
  margin-top: -12px;

  height: 0;
  border-top: 12px solid transparent;
  border-right: 12px solid #cde1f9;
  border-bottom: 12px solid transparent;
  border-left: 12px solid transparent;
}

.migration-tabell,
.migration-tabell table {
  width: 100%;
  border-spacing: 2px;
  border-collapse: separate;
}
.migration-tabell caption {
  color: #808080;
  font-size: 0.75rem;
  text-align: left;
}
.migration-tabell td:nth-child(1) {
  background-color: #eff3f9;
}
.migration-tabell thead td,
.migration-tabell thead td:nth-child(1) {
  font-weight: bold;
  padding: 0.75rem 0;
  text-align: center;
}
.migration-tabell td,
.migration-tabell th {
  border: 1px solid #e5e5e5;
  padding: 0.5rem;
}
.migration-tabell pre.lang-javascript {
  background-color: #faf0f3;
  border-color: #f3a7b0;
}
.migration-tabell pre.lang-js {
  background-color: #f4faf5;
  border-color: #b9e1c8;
}

.migration-tabell-mini caption {
  color: #808080;
  font-size: 0.75rem;
  text-align: left;
}

.brodtekst-link {
  color: #1362ae !important;
  text-decoration: none !important;
  padding-bottom: 1px !important;
  border-bottom: 1px solid #1362ae !important;
}
.footer-linkgroup ul {
  margin-top: 0;
}
.footer-linkgroup li a {
  color: #fff !important;
  border-bottom: none !important;
}
.footer-linkgroup li a:hover,
.footer-linkgroup li a:focus {
  color: #6f2c3f !important;
  background-color: #fff !important;
}
.footer-linkgroup li i {
  color: #fff !important;
}
