import SkeIconfontWOFF from '{{ fontPath }}SkeIconfont.woff';

export default {
  style: {
    MozOsxFontSmoothing: 'grayscale',
    WebkitFontSmoothing: 'antialiased',
    fontStyle: 'normal',
    fontWeight: 'normal',
    speak: 'none',
    display: 'inline-block',
    transform: 'translate(0, 0)',
    textRendering: 'auto',
    fontSize: 'inherit',
  },
  fontFace: {
    fontFamily: '"{{ fontName }}"',
    src: [
      `url("${SkeIconfontWOFF}") format("woff")`,
    ].join(', '),
  },
  icons: { {% for glyph in glyphs %}
    '{{ glyph.name }}': '\u{{ glyph.unicode[0].charCodeAt(0).toString(16) }}'{% if loop.index < loop.length %},{% endif%} {% endfor %}
  }
};
