const fontUrls = [];
{%- set eotIndex = formats.indexOf('eot') -%}
{%- set woff2Index = formats.indexOf('woff2') -%}
{%- set woffIndex = formats.indexOf('woff') -%}
{%- set ttfIndex = formats.indexOf('ttf') -%}
{%- set svgIndex = formats.indexOf('svg') %}

{% if formats.indexOf('eot')>-1 -%}
fontUrls.push('url("' + require('{{ fontPath }}{{ fontName }}.eot') + '")');
{%- endif -%}

{% if eotIndex != -1 %}
fontUrls.push('url("' + require('{{ fontPath }}{{ fontName }}.eot') + '?#iefix") format("embedded-opentype")');
{%- endif -%}

{% if woff2Index != -1 %}
fontUrls.push('url("' + require('{{ fontPath }}{{ fontName }}.woff2') + '") format("woff2")');
{%- endif -%}

{% if woffIndex != -1 %}
fontUrls.push('url("' + require('{{ fontPath }}{{ fontName }}.woff') + '") format("woff")');
{%- endif -%}

{% if ttfIndex != -1 %}
fontUrls.push('url("' + require('{{ fontPath }}{{ fontName }}.ttf') + '") format("truetype")');
{% endif %}
export default {
    style: {
        MozOsxFontSmoothing: 'grayscale',
        WebkitFontSmoothing: 'antialiased',
        fontStyle: 'normal',
        fontWeight: 'normal',
        speak: 'none',
        display: 'inline-block',
        transform: 'translate(0, 0)',
        textRendering: 'auto',
        fontSize: 'inherit',
    },
    fontFace: {
        fontFamily: '"{{ fontName }}"',
        src: fontUrls.join(', '),
    },

    icons: { {% for glyph in glyphs %}
        '{{ glyph.name }}': '\u{{ glyph.unicode[0].charCodeAt(0).toString(16) }}'{% if loop.index < loop.length %},{% endif%} {% endfor %}
    }
};
