.closeButton {
  position: absolute;
  right: 10px;
  top: 10px;
  background: lightgray;
  border: none;
  color: grey;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}
.closeButton:hover {
  background: pink;
}
.closeButton:focus {
  background: red;
  outline: 0;
}
